<div class="bg-dark">
    <div class="modal-header">
        <h5 class="modal-title">Deja tu comentario</h5>

        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
    </div>

    <div class="modal-body">
        <div class="form-group mb-3">
            <label for="comentario">Comentario</label>
            <textarea class="form-control" placeholder="Comentario" #comentario></textarea>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-danger" type="button" (click)="disminuir()"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" class="form-control" max="5" min="1" value="{{ getCalificacion }}">
                    <button class="btn btn-outline-success" type="button" (click)="aumentar()"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="comentar()">
            Comentar
        </button>

        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">
            Cerrar
        </button>
    </div>
</div>