<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Registrarme</h5>

                    <div class="form">
                        <small *ngIf="!!errores" class="text-danger fst-italic">{{ errores }}</small>

                        <div class="form-group mb-4">
                            <label for="nombre">Nombre Completo</label>
                            <input name="nombre" type="email" class="form-control" placeholder="Nombre Completo" #nombre>
                        </div>

                        <div class="form-group mb-4">
                            <label for="correo">Correo</label>
                            <input name="email" type="email" class="form-control" placeholder="correo@ejemplo.com" #correo>
                        </div>

                        <div class="form-group mb-4">
                            <label for="imagen">Imagen</label>
                            <input name="imagen" type="text" class="form-control" placeholder="Ingresa la URL de una imagen" #imagen>
                        </div>

                        <div class="form-group mb-4">
                            <label for="password1">Contraseña</label>
                            <input name="password1" type="password" class="form-control" placeholder="Contraseña" #password1>
                        </div>

                        <div class="form-group mb-4">
                            <label for="password2">Repetir Contraseña</label>
                            <input name="password2" type="password" class="form-control" placeholder="Repetir Contraseña" #password2>
                        </div>
                    </div>

                    <div class="text-end">
                        <button class="btn btn-primary" (click)="registrar()">Registrarme</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>