<div class="card bg-dark mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ Usuario.foto }}" alt="" class="img-fluid rounded-start">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><span class="fw-bold">Nombre: </span>{{ Usuario.nombre }}</h5>

                <br>
                <br>

                <h5 class="card-title"><span class="fw-bold">Correo: </span>{{ Usuario.correo }}</h5>
            </div>
        </div>
    </div>
</div>